{% extends 'base.html' %}
{% block content %}
<script>
    function login() {

        let given_email = $('#email').val();
        let given_password = $('#password').val();


        // console.log(given_email, given_password);
        $.ajax({
            type: "POST",
            url: '/user/login',
            data: { 'email': given_email, 'pwd': given_password },
            dataType: "json",
            success: function (response) {
                console.log(response)
                alert(response['1']['msg']);
                window.location.replace("/home")
            },
            error:function (response) {
                alert(response['responseJSON']['msg']);
            }
        });

    }


</script>
<div class="wrap">
    <div style="color: antiquewhite;margin-bottom: 30px;text-align: center;">
        <h1 style="color: white;">Login</h1>
    </div>
    <form name="login_form">
        <div class="form-floating mb-3">
            <input type="email" autocomplete="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" autocomplete="current-password" class="form-control" id="password"
                placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
            <button class="btn btn-primary" type="button" onclick="login()"
                style="border-radius: 10px;background-color:#7f17cf88;">login</button>
        </div>
    </form>
    <p style="color: bisque;text-align: center;margin: 20px;">Create a New account? <a href="/signup">Signup Page</a>
    </p>
</div>
{% endblock %}